@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

* {box-sizing:border-box;}

p {margin: 150px;}

html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	position: relative;
}

.container .icon {
	display: none;
}

input {
	font-size: 12px;
}


#map {
	bottom:0px;
	height: 100%;
	left: 302px;
	position: absolute;
	right: 0px;
	z-index: -1;
}

.options-box {
	background: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	height: 100%;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: left;
	width: 300px;
	display: block;
}



@media screen and (max-width: 768px) {
    .container .icon {
		display: inline-block;
		margin: 8px;
		text-decoration: none;
	}

	.container .icon:before {
		font-family: FontAwesome;
		font-size: 24px;
		content: "\f0c9";
		text-align: center;
		background-color: darkgrey;
		padding: 3px 6px;
		color: white;
		border-radius: 4px;
	}
	
	.options-box {
		display: none;
	}
	

	#map {
		left: 0;
	}
}

@media screen and (max-width: 768px) {
	.options-box.responsive {
		display: block;
		position: relative;
	}
}

@media screen and (max-width: 375px) {
	.options-box {
		width: 100%;
	}

}


/* var locations = [
	  {title: 'Harry Buffalo', location: {lat: 28.541346, lng: -81.381661}, id: 0},
	  {title: 'Omega Deli Restaurant', location: {lat: 28.546058, lng: -81.373764}, id: 1},
	  {title: 'Shari Sushi Lounge', location: {lat: 28.542288, lng: -81.369215}, id: 2},
	  {title: 'LE GOURMET BREAK', location: {lat: 28.540667, lng: -81.377412}, id: 3},
	  {title: "Panino's Pizza & Grill", location: {lat: 28.541595, lng: -81.378847}, id: 4},
	  {title: "Leo's Diner", location: {lat: 28.546354, lng: -81.378952}, id: 5}
	]; */
